.img-thumbnail{
    width: 100%;
}

.info_template {
    list-style: none;
}

.col-lg-6{
   margin-top: 3%;
}


.valor{
    margin: 10% 0 5% 0;
}


p > .btn {
    margin: 1.5% 0 0 3.9%;
    font-family: "GeosansLight";
    border: 1px solid #888888;
}

.btn-lg, .btn-group-lg > .btn {
    padding: 2%;
    font-size: 20px;
    line-height: 1.3333333;
    border-radius: 13px;
    margin: 0 auto;
}

.navegar{
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
    color: #333;
    border: none;
    font-weight: bold;
}

.navegar:hover{
    color: #333;
    border: none;
    border:1px solid #888888;
}

.info_template .subtitulo{
    margin: 0;
}

.valor{
    color: #009f99;
    font-size: 2.5rem;
    font-family: "Open Sans";
}

.valor1 {
    font-size: 3rem;
    color: #000000;
    font-family: "GeosansLight";
}

.valor2 {
    font-size: 0.9em;
    font-family: "Open Sans";
}

.botoes li{
    list-style: none;
    float: left;
}

.botoes {
    padding: 0;
    margin:3% 0 0 3.9%;
}

.comprar {
    margin:0 0 0 3%;

}