#header{
    margin:0;
    padding: 0;
}


#intro{
    background: url("../images/backgrounds/web_cinza.png") #999 no-repeat;
    background-size: 100% 100% ;
    color: #f5f5f5;;
}


#intro h2,#intro p{
    color: #f5f5f5;;
    border-color: #f5f5f5;
}
#one{
    background: url("../images/backgrounds/web.png") no-repeat;
    background-size: 100% 100% ;
}


#two{
    background: url("../images/backgrounds/web_roxo_flip.PNG") no-repeat;
    background-size: 100% 100% ;
}

#tree{
    background: url("../images/backgrounds/web_aqua.PNG ") no-repeat;
    background-size: 100% 100% ;
}

#four{
    background: url("../images/backgrounds/web.png") no-repeat;
    background-size: 100% 100% ;
}


#five{
    background: url("../images/backgrounds/web_roxo_flip.PNG") no-repeat;
    background-size: 100% 100% ;
}

#six{
    background: url("../images/backgrounds/web_aqua.PNG ") no-repeat;
    background-size: 100% 100% ;
}


.iphone{
    background: url("../images/gagets/iphone.png") no-repeat;
    background-size: 70% ;

    float: left;
    width: 50%;
    height: 100%;
}

.notebook{
    background: url("../images/gagets/notebook.png") no-repeat;
    background-size: 80% ;

    float: left;
    width: 50%;
    height: 100%;
}