
/*================================================-----INDEX-----================================================*/

@media screen and ( max-width:450px) {


    #bannerServicos {

        display: none
    }

    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: #000;
    }

    .navbar-inverse .navbar-toggle .icon-bar:hover {
        background-color: #fff;
    }

    .nav {
        margin:7.5px -15px;
        background-color: #ffffff;
    }



    .navbar-brand img {
        float: left;
        width: 20%;
        overflow: visible;
        padding: 0;
        margin: -10% 0 0 7%;
    }

    #quemsomos, #content {
        margin: 30px 0 0 0;

    }

    .container-fluid {
        border-bottom: ridge 0.1px #000
    }

    .col-md-12 {

        text-align: center
    }

    .row h1 {
        margin: 0 0 0.9% 0
    }

    .sub {
        width: 100%
    }

    .sub span {

        margin: 0 0.5% 0 23%;
    }


    .row h1 {
        margin: 0;
    }


    .linha {
        border-bottom: 1px solid #000000;
        width: 100%;
        float: left;
        height: 1px;
        padding: 3% 0 0 0;
    }

    .iphone img {

        display: none;
    }

    .col-md-6 {
        width: 100%;
    }

    .row .features_list {
        margin: 0 auto;
    }

    .row .features_list ul li span {
        display: block;
        width: 100%;
        text-align: center;
    }


.features_list i {

    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 2em;


}

    .row {
        margin-right: 0;
        margin-left: 0;
    }

    .desc_serv {

        text-align: center;
    }
    .row .features_list .sites {
        color: #fff;
        background-color: rgb(0,100,0);
    }

    .row .features_list .mobile {
        color: #fff;
        background-color: #009f99;
    }

    .row .features_list .idevisual {
        color: #fff;
        background-color: #0a568c;
    }

    .row .features_list .ecommerce {
        color: #fff;
        background-color: #5D478B;
    }

    .row .features_list .midia {
        color: #fff;
        background-color: #a83800;
    }

    .row .features_list .seo {
        color: #fff;
        background-color: #EE7600;
    }

    .saibamais{

        text-align: center;
    }

    .index .block-3 {
        padding-bottom: 3%;
    }
    .img_block {

        max-width: 100%;
        min-width: 100%;
        max-height: 100%;
        min-height: 100%;
    }

    .index .block-2 .isotope a {
        height: 400px;
        margin-top: 2%;
    }

    .fa-slack{

        margin: 50% 0 0 0;
    }

    /*=============================================-----QUEM SOMOS-----==============================================*/

    figure.snip1390 {
        max-width: 90%;
        float: none;
        margin: 0 auto;
    }

    .row h1 {
        margin: 3% 0 5% 0;
        text-align: center;
    }

    .sexytabs {
        min-width: 100%;
    }

    .sexytabs > ul {
        border-bottom: none;
    }

    .sexytabs ul  li {

        margin: 0;
        width: 33.3%;
    }

    .ui-tabs .ui-tabs-nav {
        margin: 0;
        padding: 0;
    }

.ui-tabs .ui-tabs0-nav li {
    margin: 0;
    border-bottom: 0;
    padding: 0;
    white-space: normal;
   }

    .ui-tabs .ui-tabs-nav{
        margin: 0;
    }

    .ui-tabs .ui-tabs-nav li{
        margin:0
    }

    h2 {
        border-bottom: 1.5px solid #3c3c3e;
    }

    .container_quemsomos {
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
        margin-left: 0;

    }

    .ui-tabs .ui-tabs-panel {
        padding: 0;
    }

    /*=============================================-----Clientes-----==============================================*/


    .dg-container {
        display: none;
    }
    #slider{
        display: block;
    }
    @keyframes slidy {
        0% { left: 0%; }
        20% { left: 0%; }
        25% { left: -100%; }
        45% { left: -100%; }
        50% { left: -200%; }
        70% { left: -200%; }
        75% { left: -300%; }
        95% { left: -300%; }
        100% { left: -400%; }
    }


    div#slider {
        overflow: hidden;
        width: 100%;
        margin: 0 0 5% 0
    }

    div#slider figure img {
        width: 20%; float: left;
    }
    div#slider figure {
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        text-align: left;
        font-size: 0;
        animation: 30s slidy infinite;
    }

     #slider {
        display:block;
    }

    .container_cliente {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }

    .grid_cliente {
        width: 100%;
    }

    .row_cliente {
        width: 100%;
    }

    .containerclientes  header h1 {
        font-size: 36px;
        padding: 0;
        margin:0;
    }

    .containerclientes > header {
        padding: 20px 30px 5px 30px
    }

    /*=============================================-----SEFVICOS-----==============================================*/
    #intro{
        height: 100% !important;
    }

    #intro .container{
        position: absolute;
        width: 100%;
        top:150px;
        left: 0;
    }

    .box{
        box-shadow: 0  0 0!important;
        -webkit-box-shadow: 0  0 0 !important;
    }

    .icon > .label {
        display: none;
    }

    /*=============================================-----contato-----==============================================*/

    .contact h2 {
        font-size: 1.9em;
    }

    #contactform {
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }

    .contato-12 {
        padding-right: 0;
        padding-left: 0;
    }

}



@media screen and ( max-width:962px) {
    /*=============================================-----INDEXs-----==============================================*/


}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
}