h2 {
    font: 400 60px/60px 'Open Sans', sans-serif;
    text-align: center;
    margin: 0 0  2.5rem 0;
    font-size: 3.5em;
    border-bottom: 3px solid #3c3c3e;
}


h5 {
    font-size: 16px;
    line-height: 16px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin-bottom: 0;
    color: #3c3c3e;
}


.box{
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;

    box-shadow: 1px 7px 80px #000;
    -webkit-box-shadow: 15px 10px 80px #000;
    -moz-box-shadow: 15px 10px 80px #000;}


#header{
    margin:-4px 0 0 0;
    padding: 0;
}

#intro{
    background: -webkit-linear-gradient(top left, #1C1C1C 0%, #696969 100%);
    background: linear-gradient(to bottom right, #1C1C1C 0%, #696969 100%);

}

#intro h2,#intro p{
    color: #f5f5f5;;
    border-color: #f5f5f5;
}

#one {
    background: -webkit-linear-gradient(top left, #2F4F4F 0%, #009f99 100%);;
    background: linear-gradient(to bottom right, #2F4F4F 0%, #009f99 100%);


}

#two{
    background: -webkit-linear-gradient(top left, darkgreen 0%,#9AFF9A  100%);
    background: linear-gradient(to bottom right, darkgreen 0%,#9AFF9A 100%);
}

#tree{
    background: -webkit-linear-gradient(top left, #0a568c 0%, #87CEEB 100%);
    background: linear-gradient(to bottom right, #0a568c 0%, #87CEEB 100%);
}

#four{
    background: -webkit-linear-gradient(top left, #5D478B 0%, #CDB5CD 100%);
    background: linear-gradient(to bottom right, #5D478B 0%, #CDB5CD 100%);
}


#five{
    background: -webkit-linear-gradient(top left, #a83800 0%, #FFD39B 100%);
    background: linear-gradient(to bottom right, #a83800 0%, #FFD39B 100%);
}

#six{
    background: -webkit-linear-gradient(top left, #FF8247 0%, #8B1A1A 100%);
    background: linear-gradient(to bottom right, #FF8247 0%, #8B1A1A 100%);
}


.iphone{
    background: url("../images/gagets/iphone.png") center no-repeat;
    background-size: 50%;
    margin: 1% 0 0 0;
    float: left;
    width: 50%;
    height: 100%;;
}

.notebook{
    background: url("../images/gagets/ideias.png") center no-repeat;
    background-size: 90%;
    float: left;
    width: 50%;
    height: 100%;
}

.seo{
    background: url("../images/gagets/seo.png") center no-repeat;
    background-size: 80%;
    float: left;
    width: 50%;
    height: 100%;
}

.ideias{
    background: url("../images/gagets/notebook.png") no-repeat;
    background-size: 93% ;
    background-position: center;
    float: right;
    width: 50%;
    height: 100%;
}

.ecommerce{
    background: url("../images/gagets/ecommerce.png") no-repeat;
    background-size: 70% ;
    background-position: center;
    float: right;
    width: 50%;
    height: 100%;
}
.design{
    background: url("../images/gagets/difital.png") no-repeat;
    background-size: 60% ;
    background-position: center;
    float: right;
    width: 50%;
    height: 100%;
}


.lista_servico{
    list-style: none;
    padding: 2%;
    font-size: 1.5rem;
    color: #727070;
    font-family:  'Open Sans', sans-serif;
}
/*======---background---======*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;
}
body {
    font-family: GeosansLight;
    color: white;
    font-weight: 300;
}


.wrapper {
    background: #50a3a2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.wrapper.form-success .container h1 {
    -webkit-transform: translateY(85px);
    transform: translateY(85px);
}


.bg-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
.bg-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.15);
    bottom: -160px;
    -webkit-animation: square 25s infinite;
    animation: square 25s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
    left: 10%;
}
.bg-bubbles li:nth-child(2) {
    left: 20%;
    width: 80px;
    height: 80px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 17s;
    animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
    left: 25%;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    -webkit-animation-duration: 22s;
    animation-duration: 22s;
    background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
    left: 70%;
}
.bg-bubbles li:nth-child(6) {
    left: 80%;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
    left: 32%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
    left: 55%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
    background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
    left: 90%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 11s;
    animation-delay: 11s;
}
@-webkit-keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-700px) rotate(600deg);
        transform: translateY(-700px) rotate(600deg);
    }
}
@keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-700px) rotate(600deg);
        transform: translateY(-700px) rotate(600deg);
    }
}
