
@font-face {
    font-family: GeosansLight;
    src: local('GeosansLight.ttf'), url(../fontes/GeosansLight.ttf);
}

html,body {
    margin:0;
    padding:0;
    font-family: GeosansLight;
}

p {
    font-size: 18px;
}
/*========================================================
										HEADER styles
=========================================================*/

li {
    list-style: none;
}
#footer a {
  color: inherit;
}
#footer a:hover {
  text-decoration: underline;
}

.copyright{

    color:rgba(255,255,255,0.5);
}
#toTop {
  display: none;
  background: #fff;
  text-decoration: none;
  position: fixed;
  bottom: 80px;
  right: 30px;
  overflow: hidden;
  border: none;
  color: #053050;
  width: 73px;
  height: 73px;
  font-size: 72px;
  line-height: 73px;
  z-index: 999;
  text-align: center;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
#toTop:hover {
  outline: none;
  color: #009f99;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
@media only screen and (max-width: 1199px) {
  #toTop {
    display: none !important;
  }
}

.logo_corvos {
    width: 27%;
}


.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  height: 450px;
  font-family: GeosansLight;
  text-align: left;
  font: bold 16px sans-serif;
  background-size: 70% 100%;
}

.footer-distributed ul li a, .footer-distributed ul li{
  color: #fff;
  font-weight: 100;

}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left{
    width: 40%;
}


/*------------------------------------------------------------------------CSS DA HOME*/


.container{
    padding: 0;
}




.iphone {
    max-width: 80%;
    position: relative;
    display: inline-block;
    text-align: center;
}

.iphone img {
    width: 100%;
    height: auto;
    margin: 10% 0 0 0;
}

.row .features_list {
    margin-left: 50px;
    padding: 10% 0 0 0;
}


.row .features_list p {
    color: #767272;
    font-family: GeosansLight;
    font-size: 16px;
    margin-bottom: 45px;
    line-height: 32px;
}

.row .features_list ul {
    margin-bottom: 30px;
}

.row .features_list ul li {
    display: block;
    position: relative;
    padding: 0 0 0 4px;
    color: #6c6c6c;
    font-family: "open_semibold", Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 50px;

    text-indent: 25px;
    transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    cursor: pointer;
}

.row .features_list ul li span {
    display: inline-block;
}

.desc_serv {

    width: 100%;
    margin-top: -2.5em;
    padding: 0 0 0 2.5em;
    font-size: 1.3rem;
}


.features_list i {

    margin: 3% 0 0 -9%;
}

.phone {

    width: 30px;
}

.services {

    color: #009f99;

}

.linha {

    border-bottom: 1px solid #000000;
    width: 83%;
    float: left;
    height: 1px;
    padding: 1.5% 0 0 0;

}

.sub {

    width: 20%;
}

.sub span {
    margin: 0.7% 0.5% 0 0;
    float: left;
    font-size: 1em;


}

.sites{
    transition: all .2s ease-in-out;
    color: darkgreen;
}

.sites:hover{
    -webkit-transform-origin: center bottom;
    -webkit-transform: scale(1.1);
    background: darkgreen;
    color: #fff;
    -webkit-box-shadow: 10px 10px 110px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 110px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 110px 0px rgba(0,0,0,0.75);

}


.idevisual{

    transition: all .2s ease-in-out;
    color: #0a568c;
}

.idevisual:hover{
    -webkit-transform-origin: center bottom;
    -webkit-transform: scale(1.1);
    background: #0a568c;
    color: #fff;
    -webkit-box-shadow: 10px 10px 110px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 110px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 110px 0px rgba(0,0,0,0.75);
}

.mobile{
    color: #009f99;
    transition: all .2s ease-in-out;
}


.mobile:hover{
    background: #009f99;
    -webkit-transform-origin: center bottom;
    -webkit-transform: scale(1.1);
    color: #fff;
    -webkit-box-shadow: 10px 10px 110px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 110px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 110px 0px rgba(0,0,0,0.75);

}

.ecommerce{
    color: #5D478B;
    transition: all .2s ease-in-out;
}

.ecommerce:hover{
    background: #5D478B;
    color: #fff;
    -webkit-transform-origin: center bottom;
    -webkit-transform: scale(1.1);
    -webkit-box-shadow: 10px 10px 110px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 110px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 110px 0px rgba(0,0,0,0.75);

}


.midia{
    color: #a83800;
    transition: all .2s ease-in-out;

}
.midia:hover{
    background: #a83800;
    -webkit-transform-origin: center bottom;
    -webkit-transform: scale(1.1);
    color: #fff;
    -webkit-box-shadow: 10px 10px 110px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 110px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 110px 0px rgba(0,0,0,0.75);

}

.seo{
    color: #EE7600;
    transition: all .2s ease-in-out;
}

.seo:hover{
    background: #EE7600;
    color: #fff;
    -webkit-transform-origin: center bottom;
    -webkit-transform: scale(1.1);
    -webkit-box-shadow: 10px 10px 110px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 110px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 110px 0px rgba(0,0,0,0.75);

}














/*CSS do Xavié---====================================================================================================*/
.navbar{
    margin:0;
}

.navbar-inverse .navbar-nav  li  a {
    color: #000;
    text-shadow: 0 0 0 rgb(0, 0, 0);
}

.navbar-fixed-top{
  border:none;
  box-shadow: 2px 2px 10px #666;
}

.navbar-inverse .navbar-nav .active a{

    background-image: linear-gradient(to bottom, #053050 0%, #053050 100%);

}



.navbar-inverse .navbar-nav  li  a:hover {

 color:#009f99;
}


.navbar-brand img {

    float: left;
    width: 10%;
    overflow: visible;
    padding: 0;
    margin: 0.3% 0 0 1.8%

}

.nav {
    margin-left: 180px;
    background-color: #ffffff;
}

.navbar-brand {

    height: 0px;
    padding: 0;
}

#navbar {


  font-size: 1.7rem;
}

.container-fluid {

    background-color: #ffffff;
}

.social {

    float: right;
    margin: 7px;
    }

.btn-twitter {
    background-color: #080808;
    padding: 15px;
}

.btn-facebook {
    background-color: #080808;
}

.btn-instagram {
    background-color: #080808;
}

.btn-slack {
    background-color: #080808;
    color: #fff;

}

.btn-slack:hover{
    background-color: #9A32CD;
    color:white;
}

#footer {

    background-color: rgb(45, 42, 43);
    padding: 6em 0 0.6em 0;
    text-align: center;
    display: block;
    vertical-align: baseline;
    float: left;
    width: 100%;

}

#footer .icons {

    font-size: 1.25em;

}

ul.icons {

    cursor:default;
    list-style: none;
    padding-left: 0;
    color: rgba(255,255,255,0.5);
}

ul {

    margin: 0 0 4em 0;
}

ul.icons li{
    display: inline-block;
    padding: 0 1em 0 0;
}


.label {
    color: rgba(255,255,255,0.5);
}

.no-line {

    border-bottom: none;
}

.btn:hover, .btn:focus, .btn.focus {
    color: #fff;
    background-color: #053050;
}

/*--------------------- CSS PAGINA QUEM SOMOS*/



h1{
    text-align: center;
    font-family: "GeosansLight";
    position: relative;
    text-transform: uppercase;
    color: rgba(27,54,81,0.8);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    padding: 0px 0px 5px 0px;
    margin-bottom: 5%;
}



h4{
    text-align: center;

}



#content{
    margin: 5% 0 0 0;
}


.valores_empresa{
    margin: 100px 0 0 0 ;
}
.time img{
    width: 57%;
    border: 1px solid #999;
    -webkit-border-radius:100% 50%;;
    -moz-border-radius:100% 50%;;
    border-radius:100% 50%;
    -webkit-box-shadow: 10px 10px 300px -24px rgba(153,153,153,1);
    -moz-box-shadow: 10px 10px 300px -24px rgba(153,153,153,1);
    box-shadow: 10px 10px 300px -24px rgba(153,153,153,1);
}
/* Demo purposes only */

.full-width-container h2 {
    font-family: GeosansLight;
    Font-Size: 2em;

}

.row {

    margin: 0 auto;
    width: 100%;
}

blockquote {

    border: none;
}
.grid_12 .slogan {

    font-size: 3em;
}

.socios {

    text-align: center;
}


/*========================================---o que fazemos---========================================*/

.sexytabs > ul {
    text-align: center;
    font-weight: 500;
    margin: 50px 0 0;
    padding: 0;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.sexytabs > ul > li {
    display: inline-block;
    background: #fafafa;
    padding: 0.6em 0;
    position: relative;
    width: 33%;
    margin: 0 0 0 -4px;
}
.sexytabs > ul > li:before, .sexytabs > ul > li:after {
    opacity: 0;
    transition: 0.3s ease;
}
.sexytabs > ul > li.ui-tabs-active:before, .sexytabs > ul > li.ui-tabs-active:after, .sexytabs > ul > li.ui-state-hover:before, .sexytabs > ul > li.ui-state-hover:after, .sexytabs > ul > li.ui-state-focus:before, .sexytabs > ul > li.ui-state-focus:after {
    opacity: 1;
}
.sexytabs > ul > li:before, .sexytabs > ul > li.ui-state-active.ui-state-hover:before, .sexytabs > ul > li.ui-state-active.ui-state-focus:before {
    content: "";
    position: absolute;
    z-index: -1;
    box-shadow: 0 2px 3px rgba(22, 195, 255, 0.5);
    top: 50%;
    bottom: 0px;
    left: 5px;
    right: 5px;
    border-radius: 100px / 10px;
}
.sexytabs > ul > li:after, .sexytabs > ul > li.ui-state-active.ui-state-hover:after, .sexytabs > ul > li.ui-state-active.ui-state-focus:after {
    content: "";
    background: #fafafa;
    position: absolute;
    width: 12px;
    height: 12px;
    left: 50%;
    bottom: -6px;
    margin-left: -6px;
    transform: rotate(45deg);
    box-shadow: inset 3px 3px 3px rgba(22, 195, 255, 0.5), inset 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.sexytabs > ul > li.ui-state-hover:before, .sexytabs > ul > li.ui-state-focus:before {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.sexytabs > ul > li.ui-state-hover:after, .sexytabs > ul > li.ui-state-focus:after {
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.2), inset 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.sexytabs > ul > li.ui-state-focus a {
    text-decoration: underline;
}
.sexytabs > ul > li:focus {
    outline: none;
}
.sexytabs > ul > li a {
    color: #444;
    text-decoration: none;
    width: 100%;

}
.sexytabs > ul > li a:focus {
    outline: none;
}
.sexytabs > ul > li a span {
    position: relative;
    text-align: center;
}

.sexytabs.dark > ul {
    border-bottom-color: rgba(255, 255, 255, 0.3);
}
.sexytabs.dark > ul > li {
    background: #333;
}
.sexytabs.dark > ul > li:before, .sexytabs.dark > ul > li.ui-state-active.ui-state-hover:before, .sexytabs.dark > ul > li.ui-state-active.ui-state-focus:before {
    box-shadow: 0 2px 3px rgba(255, 255, 255, 0.3);
}
.sexytabs.dark > ul > li:after, .sexytabs.dark > ul > li.ui-state-active.ui-state-hover:after, .sexytabs.dark > ul > li.ui-state-active.ui-state-focus:after {
    background: #333;
    box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.3), inset 1px 1px 1px rgba(255, 255, 255, 0.5);
}
.sexytabs.dark > ul > li.ui-state-hover:before, .sexytabs.dark > ul > li.ui-state-focus:before {
    box-shadow: none;
}
.sexytabs.dark > ul > li.ui-state-hover:after, .sexytabs.dark > ul > li.ui-state-focus:after {
    box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.4);
}
.sexytabs.dark > ul > li a {
    color: white;
}



.sexytabs {
    width: 100%;
    min-width: 360px;
    margin: auto;
}

.contents {

    background: #fafafa;
    padding: 20px 50px;
    min-height: 200px;
}

.darkpage {
    background: #333;
    color: white;
}

.darkpage,
.lightpage {
    padding: 50px 0;
}

@media screen and (min-width: 1000px) {
    .darkpage,
    .lightpage {
        width: 100%;
        float: left;
        padding: 0;
    }
}



/*MISSAO VISAO VALORES*/



.cls


.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: -1px;
    padding-bottom: 1px;
}
.ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 0;
    margin: 1px 0 0 3px;
    border-bottom: 0;
    padding: 0;
    white-space: nowrap;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
    background: #053050 ;
    border-color: #053050;
}

/*-------------------------- CSS PAGINA CLIENTES*/
.cliente_circle, .cliente_circle img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 2px solid #00b3ee;
    margin: 0 auto;
}

article{
    min-height: inherit ;
    margin: 20px 0;
}

.pad{
    padding: 0 13% 0 13%;
}

.border-top{
    border-top: 1px solid #c2c2c2;
    padding: 0 20% 0 20%;
}

/*====================================---Clientes Galeria---=====================================*/


a{
    color: #337ab7;
    text-decoration: none;
}
a:hover{
    color: #00b3ee;
}
.containerclientes {
    width: 100%;
    position: relative;
    text-align: center;
}
.clr{
    clear: both;
}
.containerclientes > header{
    padding: 20px 30px 10px 30px;
    margin-bottom: 40px;
    position: relative;
    display: block;
    text-align: center;
}
.containerclientes > header h1{
    font-family: "GeosansLight";
    font-size: 50px;
    position: relative;
    font-weight: 300;
    text-transform: uppercase;
    color: rgba(27,54,81,0.8);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    padding: 0px 0px 5px 0px;
}
.containerclientes > header h1 span{
    color: #009f99;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.4);
}
.containerclientes > header h2{

}
/* Header Style */
.codrops-top{
    line-height: 24px;
    font-size: 11px;
    background: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    z-index: 9999;
    position: relative;
    box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
    -webkit-animation: slideOut 0.5s ease-in-out 0.3s backwards;
}
@-webkit-keyframes slideOut{
    0%{top:-30px; opacity: 0;}
    100%{top:0px; opacity: 1;}
}
.codrops-top a{
    padding: 0px 10px;
    letter-spacing: 1px;
    color: #333;
    text-shadow: 0px 1px 1px #fff;
    display: block;
    float: left;
}
.codrops-top a:hover{
    background: #fff;
}
.codrops-top span.right{
    float: right;
}
.codrops-top span.right a{
    float: left;
    display: block;
}
.codrops-demos{
    text-align:center;
    display: block;
    padding-top: 20px;
}
.codrops-demos a,
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover{
    display: inline-block;
    border: 1px solid #719c7f;
    padding: 4px 10px 3px;
    font-size: 13px;
    line-height: 18px;
    margin: 0px 3px;
    font-weight: 800;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow:0px 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #90bd9e;
    background: -moz-linear-gradient(top, #90bd9e 0%, #72a081 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#90bd9e), color-stop(100%,#72a081));
    background: -webkit-linear-gradient(top, #90bd9e 0%,#72a081 100%);
    background: -o-linear-gradient(top, #90bd9e 0%,#72a081 100%);
    background: -ms-linear-gradient(top, #90bd9e 0%,#72a081 100%);
    background: linear-gradient(top, #90bd9e 0%,#72a081 100%);
}
.codrops-demos a:hover{
    background: #85b995;
}
.codrops-demos a:active{
    -webkit-box-shadow: 0px 1px 1px rgba(255,255,255,0.4);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.4);
    box-shadow: 0px 1px 1px rgba(255,255,255,0.4);
}
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover{
    color: #506757;
    text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
}
/* Media Queries */
@media screen and (max-width: 767px) {
    .container > header{
        text-align: center;
    }
    p.codrops-demos {
        position: relative;
        top: auto;
        left: auto;
    }
}


/*=================================================---Galeria.pt2---==========================================*/

.dg-container{
    width: 100%;
    height: 450px;
    position: relative;
}
.dg-wrapper{
    width: 481px;
    height: 316px;
    margin: 0 auto;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;
}
.dg-wrapper a{
    width: 482px;
    height: 316px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: transparent url(../images/browser.png) no-repeat top left;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}
.dg-wrapper a.dg-transition{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.dg-wrapper a img{
    display: block;
    padding: 41px 0px 0px 1px;
}
.dg-wrapper a div{
    font-style: italic;
    text-align: center;
    line-height: 50px;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
    color: #333;
    font-size: 16px;
    width: 100%;
    bottom: -55px;
    display: none;
    position: absolute;
}
.dg-wrapper a.dg-center div{
    display: block;
}
.dg-container nav{
    width: 58px;
    position: absolute;
    z-index: 1000;
    bottom: 40px;
    left: 50%;
    margin-left: -29px;
}
.dg-container nav span{
    text-indent: -9000px;
    float: left;
    cursor:pointer;
    width: 24px;
    height: 25px;
    opacity: 0.8;
    background: transparent url(../images/arrows.png) no-repeat top left;
}
.dg-container nav span:hover{
    opacity: 1;
}
.dg-container nav span.dg-next{
    background-position: top right;
    margin-left: 10px;
}

#slider{
    display: none;
}


/*---------------------- css pagina TEMPLATES*/

.templates{
    color: #2b542c;
    font-weight: bold;
}

.img-thumbnail{
    margin: 2% 4.2%;
}

.img-thumbnail:hover{
    border: 1px;
    box-shadow: 10px 10px 10px #666;
}



/*esse css tirei algumas coisas mas tem coisas pra tirar nao tirei tudo pq to no curso do sebrae */

.container{

    padding: 0;
}


.item{
    height: 400px;

}


.title_servico{
    position: absolute;
    font-size: 4rem;
    top: 33%;
    left: 20%;
    color: #f5f5f5;
}


#touch_gallery {


}
.index .block-2 .isotope a {
    float: left;
    height: 300px;
    overflow: hidden;
    border: none;
    position: relative;
    margin: 0 10px 0 15px;
}

.img_block {
    overflow: hidden;
    margin-bottom: 15px;
    position: relative;
    border: none;
    min-height: 200px;
    max-height: 95%;
    min-width: 270px;
    max-width: 270px;
}

@media only screen and (max-width: 1499px) {
    .index .block-2 {
        margin-top: 0;
    }
}
@media only screen and (max-width: 1399px) {
    .index .block-2 {
        margin-top: 0;
    }
}
@media only screen and (max-width: 1199px) {
    .index .w-1 {
        width: 27.5%;
    }
    .index .w-2 {
        width: 44%;
    }
    .index .block-2 {
        margin-top: 0
    }
    .index .block-2 .img_block {
        height: 100%;
    }
    .index .block-2 .img_block img {
        width: auto;
        height: 100%;
    }
    .index .block-2 .isotope a {
        height: 265px;
    }
    .index .block-2 .isotope i {
        line-height: 265px;
    }
    .index .block-4 .el-1,
    .index .block-4 .el-2 {
        position: static;
        margin-left: 100px;
    }
    .index .block-5 .item-1 .text {
        padding-left: 40px;
    }
    .index .block-5 .item-2 .text {
        padding-right: 40px;
    }
}
@media only screen and (max-width: 979px) {
    .index .block-2 {
        margin-top: 0
    }
    .index .block-2 .isotope a {
        height: 211px;
    }
    .index .block-2 .isotope i {
        line-height: 211px !important;
    }
    .index .block-3 h3 {
        height: 100px;
    }
}

.hello {

    float: left ;

}

.hello-2 {

    float: inherit;
}

.sub_head {

    font-family: "GeosansLight";
    font-size: 1.6em

}



.row {

    margin-right: 0;
    margin-left: 0;
    margin: 0 0 3% 0;

}

.col-md-6 {

    width: 50%;


}

.iphone {
    max-width: 80%;
    position: relative;
    display: inline-block;
    text-align: center;
}

.iphone img {
    width: 100%;
    height: auto;
    margin: 10% 0 0 0;
}

.row .features_list {
    margin-left: 50px;
    padding: 10% 0 0 0;
}

.row h1 {
    color: #053050;
    font-family: GeosansLight;
    font-size: 250%;
    line-height: 46px;
    word-break: break-all;
    margin: 0 0 0.9% 4%;
}


.row .features_list p {
    color: #767272;
    font-family: GeosansLight;
    font-size: 16px;
    margin-bottom: 45px;
    line-height: 32px;
}

.row .features_list ul {
    margin-bottom: 30px;
}

.row .features_list ul li {
    display: block;
    position: relative;
    padding: 0 0 0 4px;
    color: #6c6c6c;
    font-family: "open_semibold", Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 50px;

    text-indent: 25px;
    transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    cursor: pointer;
}

.row .features_list ul li span {
    display: inline-block;
}

.desc_serv {

    width: 100%;
    margin-top: -2.5em;
    padding: 0 0 0 2.5em;
    font-size: 1.3rem;
}


.features_list i {

    margin: 3% 0 0 -9%;
}

.phone {

    width: 30px;
}

.services {

    color: #009f99;

}



.row .features_list .sites{

    color: darkgreen;
}

.row .features_list .sites:hover{

    background: darkgreen;
    color: #fff;
}


.row .features_list .idevisual{


    color: #0a568c;
}

.row .features_list .mobile{

    color: #009f99;
}

.row .features_list .mobile:hover{
    background: #009f99;
    color: #fff;
}

.row .features_list .idevisual:hover{

    background: #0a568c;
    color: #fff;
}


.row .features_list .ecommerce{

    color: #5D478B;

}
.row .features_list .ecommerce:hover{
    background: #5D478B;
    color: #fff;
}


.row .features_list .midia{
    color: #a83800;

}
.row .features_list .midia:hover{
    background: #a83800;
    color: #fff;
}

.row .features_list .seo{
    color: #EE7600;
}

.row .features_list .seo:hover{
    background: #EE7600;
    color: #fff;
}



.template_info{
    width: 70%;
    margin: 5% auto;
    font-size: 2rem;
}

.regras {
    list-style: none;
}


.alert > p {
    margin-bottom: 2%;
    color: #31708f;
    font-family: "GeosansLight";
    font-size: 2rem;
}

.alert > p > .regras {
    margin-bottom: 1%;
    color: #31708f;
    font-family: "GeosansLight";
    font-size: 2rem;
}



/*------------------------CSS PAGINA CONTATOS*/


.contact {

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.contact i {
    padding: 0 20px;
    font-size: 0.8em;
}

.contact h2 {

    font-family: GeosansLight;
    font-size: 2.5em;
    border: 1px solid #555;
    background-color: rgba(5,48,80,0.7);
    padding-top: 16px;
    height: 75px;
    color: #fff;
    font-weight: 500;
    line-height: 40px;
    padding-left: 50px;
    text-align: center;
}

#comments {
    margin-top: 0;
}

#contactform {

    width: 80%;
    height: 215px;
    margin: 0 auto;
}

#contactform .right {
    float: right;
}

#contactform input,
#contactform textarea {
    margin-bottom: 14px;
    width: 100%;
    outline: none;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
}

#contactform input {

    color: #009f99;
    text-shadow: 0.2px 0.2px 0.1px #000;
    font-size: 0.7em;
    padding-left: 15px;
    height: 44px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.7);
}

#contactform textarea {
    color: #009f99;
    text-shadow: 0.2px 0.2px 0.1px #000;
    font-size: 0.7em;
    padding: 15px;
    height: 218px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.5);

}

#contactform .btn {
    width: 100%;
    height: 50px;
    border-radius: 0;
    border: 1px solid #333;
    background: rgba(0,0,0,0.8);
    color: #fff;
}

#contactform .btn:hover {
    background: #053050;
}

#map-canvas {


    height: 135px;
    border: 2px solid #fff;
    margin-bottom: 3%;
}

.container {

    width: 100%;
    padding-right: 0;
    padding-left: 0;
}



#input {

    box-shadow: #0000BB;
}


/*------------------------------------------------------------------------------ CSS PAGINA solucoes*/

.titulo {

    font-size: 1.5em;
    color: #fff;
    background-image: linear-gradient(45deg,#053050,#009f99);
    text-shadow: 0.1px 0.1px 0.8px #fff;
    border-color: #053050;




}

.subtitulo {

    margin: 2% 0 5% 2.5%;
}

.botao {

    float: right;
    color: #009f99;
    background-color: #fff;
    text-decoration: underline;

}



.img_solucao{
    box-shadow: 0.8px 0.8px 2px #000;
}

.painel{

    border-color: #4F4F4F;
}


/*------------------------------------------------------------------------------ CSS PAGINAS Internas*/

.interna_esquerda{

    float:left;

}

.img_app {

    max-width: 100%;
    margin: 0 0 5% 0;
}

.video {

    padding: 0 0 0 0;
}

.botao_orçamento {


    background-image: linear-gradient(45deg,#053050,#009f99);
    color: #fff;
    text-shadow: 0.3px 0.3px 0.3px #fff;
    font-weight: lighter;
    width: 50%;
    cursor: pointer;
    margin:0 auto;
}

.azul {

    background-image: linear-gradient(45deg,#053050, #009f99);
    color: #fff;
    text-shadow: 0.3px 0.3px 0.3px #fff;
    background-color: #009f99;
    text-align: center;
    float: left;
}


.sanfona{

    background-image: linear-gradient(45deg,#053050,#009f99);
    text-shadow: 0.1px 0.1px 0.8px #fff;

}

.ui-state-default{

    color: #fff;
    text-shadow: 0.1px 0.1px 0.3px #fff;
    background-image: linear-gradient(45deg,#053050,#009f99);

}

.ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {

    border: 1px solid #050053;
}

.titulo_interna{

    margin: 3% 0 3.5% 0;
    text-align: center;
    font-size: 3em;
    padding: 0 0 0 2%;

}



.titulo_interna span {

    color: #009f99;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);

}




.b_mobile{
    background: url("../images/banners/i_home3.jpg")no-repeat;
    background-size: 100% 100%;

}

.b_mobile .content{
    width: 80%;
    padding: 5%;
    margin: 0 auto;
}
.b_mobile .content .link{

padding: 10%;

}
.b_mobile .btn-banner{
    background: #009f99;
    font-size: 3rem;
    font-weight: bold;

}
.b_mobile .text{
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    background: rgba(255,255,255,0.7);

}

.b_projetos{
    background: url("../images/banners/i_home1.jpg")no-repeat;
    background-size: 100% 100%;
}

.b_mktplace{
    background: url("../images/banners/i_home3.jpg")no-repeat;
    background-size: 100% 100%;

}

.b_chamados{
    background: url("../images/banners/i_home4.jpg")no-repeat;
    background-size: 100% 100%;

}

.b_chamados .content{
    width: 80%;
    padding: 5%;
    margin: 0 auto;
}
.b_chamados .content .link{

    padding: 10%;

}
.b_chamados .btn-banner{
    background: #009f99;
    font-size: 3rem;
    font-weight: bold;

}
.b_chamados .text{
    font-size: 3rem;
    font-weight: bold;
    color: #333;
}

.b_projetos .content{
    width: 80%;
    padding: 5%;
    margin: 0 auto;
}
.b_projetos .content .link{

    padding: 10% 40%;

}
.b_projetos .btn-banner{
    background: #053050;
    font-size: 3rem;
    font-weight: bold;
    margin: 0 auto;


}
.b_projetos .text{
    font-size: 3rem;
    font-weight: bold;
    background: rgba(255,255,255,0.7);
    text-align: center;

}

.i_servicos .content{
    width: 80%;
    padding: 5% 0;
    margin: 0 auto;
}
.i_servicos .content .link{

    padding: 10%;

}
.i_servicos .btn-banner{
    background: #009f99;
    font-size: 3rem;
}
.i_servicos .text{
    font-size: 3rem;
    color: #000;
}

.i_mobile{
    background: url("../images/banners/i_mobile.jpg")no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/banners/i_mobile.jpg") ,linear-gradient(to right, black, black , black );

}

.i_sites{
    background: url("../images/banners/i_sites.jpg")no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/banners/i_sites.jpg") ,linear-gradient(to right, black, black , black );

}

.i_visual{
    background: url("../images/banners/i_visual.jpg")no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/banners/i_visual.jpg") ,linear-gradient(to right, black, black , black );

}

.i_ecommerce {
    background: url("../images/banners/i_ecommerce.jpg") no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/banners/i_ecommerce.jpg"), linear-gradient(to right, black, black, black);
}

.i_mvp {
    background: url("../images/banners/i_mvp.jpg") no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/banners/i_mvp.jpg"), linear-gradient(to right, black, black, black);

}

.i_marketplace{
    background: url("../images/banners/i_mktplace.jpg")no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/banners/i_mktplace.jpg") ,linear-gradient(to right, black, black , black );

}

.i_chamados {
    background: url("../images/banners/i_chamados.jpg")no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/banners/i_chamados.jpg") ,linear-gradient(to right, black, black , black );

}

.i_projetos {
    background: url("../images/banners/i_projetos.jpg") no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/banners/i_projetos.jpg"), linear-gradient(to right, black, black, black);
}

.i_mei {
    background: url("../images/banners/i_mei.jpg") no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/banners/i_mei.jpg"), linear-gradient(to right, black, black, black);
}

.i_sites .text{
    font-size: 3rem;
    color: #000;
}

header h1{
    text-align: center;
    font-family: "GeosansLight";
    font-size: 5rem;
    position: relative;
    font-weight: 300;
    text-transform: uppercase;
    color: rgba(27,54,81,0.8);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    padding: 0px 0px 5px 0px;
}


header hr{

    margin-top: -50px;
    /* margin-bottom: 20px; */
    /* border: 0; */
    border-top: 1px solid #000;


}
.img_mobile {

    width: 70%;
    margin: 0 0 5% 16%;
}

.container_servicos{
    margin: 70px 0 0 0;
    padding: 5%;
}

.service-box{
    padding: 1%;
}

a .link {

    color: #00b3ee;

}

.link:hover {

    color: #00b3ee;

}

.servicos_home {

    margin: 5% 0 0 0;
}

.service-box {

    padding: 20px;
}

.titulo_orçamento h2{
    margin: 0 0 3% 0;

}

.padding_0 {
    padding: 0;
}

.espaço {
    margin: 5% 0 0 0;
}

.i_sanfona {
    font-size: 1.5em;
}

.i_ionic {
  color:#4e8ef7;
}

.icons_serviços li{
    float: left;
    margin: 0 7% 0 0;

}
.i_cordova {
    background: url("../images/cordova.svg")no-repeat;
    background-size: 100% 100%;
    width: 16px;
    height: 16px;
    float: left;
   margin: 7px 2px  0 0;
}

.i_magento {
    background: url("../images/magento.svg")no-repeat;
    background-size: 100% 100%;
    width: 16px;
    height: 16px;
    float: left;
    margin: 7px 2px  0 0;
}

.i_php7 {
    background: url("../images/php7.svg")no-repeat;
    background-size: 100% 100%;
    width: 32px;
    height: 32px;
    float: left;
    margin: 7px 2px  0 0;
}

.i_Boots {
    background: url("../images/boots.svg")no-repeat;
    background-size: 100% 100%;
    width: 128px;
    height: 128px;
    float: left;

}
.i_laravel {
    background: url("../images/LaravelLogo.svg")no-repeat;
    background-size: 100% 100%;
    width: 32px;
    height: 32px;
    float: left;
    margin: 7px 2px  0 0;
}

.i_html {
    color: #f16529;

}

.i_cor {
    color: #758a8b;
}

.i_css {
    color: #3b9ada;
}

.i_js {
    color: #f1bf26;
}


.i_angular {
    color: #a6120d;
}

#content .interna{
    margin: 0 0 100px 0;
}


/*============================================-----CLIENTE-----=========================================*/


.wrapper {
    width: 100%;
    margin-left: 2.5%;

}

.galleryItem {
    float: left;
    width: 300px;
    height: 300px;
    margin-left: 10px;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 3%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}


.fakeImage {
    width: 300px;
    height: 300px;
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    line-height: 280px;
    color: rgba(0, 0, 0, 0.2);
    background: #CCC;
}

.maori {
    background-image: url('../images/clientes/vila_maori.png');
    background-size: 100% 100%;
}

.piphone {
    background-image: url('../images/clientes/ponto_iphone.png');
    background-size: 100% 100%;
}

.abc {
    background-image: url('../images/clientes/abc.png');
    background-size: 100% 100%;
}

.benati {
    background-image: url('../images/clientes/benati.png');
    background-size: 100% 100%;
}

.aero{
    background-image: url('../images/clientes/condominio.png');
    background-size: 100% 100%;
}

.jb{
    background-image: url('../images/clientes/jb.png');
    background-size: 100% 100%;
}

.interdex{
    background-image: url('../images/clientes/interdex.png');
    background-size: 100% 100%;
}

.galleryOverlay {
    position: absolute;
    width: 300px;
    height: 30px;
    padding: 10px;
    margin-top: -50px;
    color: #000;
    background: rgba(255,255,255,.93);
    overflow: hidden;
    z-index: 10;

    -webkit-box-shadow: 0 -6px 6px -6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 -6px 6px -6px rgba(0, 0, 0, 0.5);
    box-shadow: 0 -6px 6px -6px rgba(0, 0, 0, 0.5);
}

.galleryItemTitel {
    display: block;
    height: 40px;
    font-size: 22px;
    line-height: 30px;
    color: #000;

}

.clear {
    clear: both;
}