<div class="grid_4">
    <header>
        <h2><span>Missão</span></h2>
    </header>
    <article>
        <h4>Qualidade</h4>
        <p>Oferecer produtos com qualidade e segurança  priorizando a necessidade do cliente e respeitando metas previamente estabelecidas</p>
    </article>
</div>
<div class="grid_4">
    <header>
        <h2><span>Visão</span></h2>
    </header>
    <article>
        <h4>Vamos crescer com você</h4>
        <p>Nosso objetivo estando em um pais como o Brasil é mostrar que devido a natureza criativa e aguerrida de nosso povo todos nós podemos chegar ao topo, de forma
            correta e honesta com nosso suporte transformando sonhos em ideias inovadoras e dando o suporte para sua realização profissional e suas ambições</p>
    </article>
</div>
<div class="grid_4">
    <header>
        <h2><span>Valores</span></h2>
    </header>
    <article>
        <h4>Sucesso do Cliente</h4>
        <p>Saber que nosso cliente aumentou seu lucro sua produtividade melhorou sua forma de trabalho devido a nossos produtos é a nossa satisfação!</p>
    </article>
</div>





<header>
    <h2><span>Nossos Clientes</span></h2>
</header>
</div>
<div id="touch_gallery">
    <div class="grid_4">
        <div class="cliente_circle"><a href="images/clientes/Interdex%20Manutenção%20Predial.png"><img src="images/clientes/Interdex%20Manutenção%20Predial.png" alt="Interdex"></a></div>
        <article>
            <h4>Interdex</h4>
        </article>
    </div>
    <div class="grid_4">
        <div class="cliente_circle"><a href="images/benatisportes.jpg"><img src="images/benatisportes.jpg" alt="Benati Sportes"></a></div>
        <article>
            <h4>Benati Sports</h4>
        </article>
    </div>
    <div class="grid_4">
        <div class="cliente_circle"><a href="images/DYNAMIC%20SALE%20-%20LINKS%20PATROCINADOS.png"><img src="images/DYNAMIC%20SALE%20-%20LINKS%20PATROCINADOS.png" alt="Dynamic Sale"></a></div>
        <article>
            <h4>Dynamic Sale</h4>
        </article>
    </div>
    <div class="grid_4">
        <div class="cliente_circle"><a href="images/Canaa%20Brazil.png"><img src="images/Canaa%20Brazil.png" alt="Cannaa"></a></div>
        <article>
            <h4>Cannaã</h4>
        </article>
    </div>

    <div class="grid_4">
        <div class="cliente_circle"><a href="images/RL%20Santucci.png"><img src="images/RL%20Santucci.png" alt="RL Santucci"></a></div>
        <article>
            <h4>RL Santucci</h4>
        </article>
    </div>

    <div class="grid_4">
        <div class="cliente_circle"><a href="images/clientes/Abendi%20-%20Associação%20Brasileira%20de%20Ensaios%20Não.png"><img src="images/clientes/Abendi%20-%20Associação%20Brasileira%20de%20Ensaios%20Não.png" alt="Abendi"></a></div>
        <article>
            <h4>Abendi</h4>
        </article>
    </div>
    <div class="grid_4">
        <div class="cliente_circle"><a href="images/clientes/Globes%20-%20Home.png"><img src="images/clientes/Globes%20-%20Home.png" alt="Globes"></a></div>
        <article>
            <h4>Globes</h4>
        </article>
    </div>


</div>
<!--<div class="grid_12">-->
<!--<div class="pagination"><a href="#" class="active">1</a><a href="#">2</a></div>-->
<!--</div>-->
</div>