<section id="content">
    <div class="full-width-container block-1">
        <div class="container">

            <section class="contact" id="contact">
                <div class="container2">
                    <div class="row ">
                        <div class="col-md-12 contato-12 titulo_orçamento padding_0">
                            <h2>Faça um orçamento<i class="fa fa-paper-plane-o"></i></h2>
                        </div>
                    </div>
                    <div class="row">
                        <form method="post"   name="contactform" id="contactform">
                            <div class="col-md-6">
                                <fieldset>
                                    <input name="name" type="text" id="name" size="30" placeholder="Nome">
                                    <br>
                                    <input name="email" type="text" id="email" size="30" placeholder="Email">
                                    <br>
                                    <input name="phone" type="text" id="phone" size="30" placeholder="Telefone">
                                    <br>
                                    <input name="human" type="text" id="human" size="30" placeholder="Assunto">
                                    <br>
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <fieldset>
                                    <textarea name="comments" cols="40" rows="20" id="comments" placeholder="Mensagem"></textarea>
                                </fieldset>
                            </div>
                            <div class="col-md-12 espaço">
                                <fieldset>
                                    <a type="submit" class="btn btn-lg" id="submit" value="Submit" onclick="sendContato()">Enviar</a>
                                </fieldset>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            <!--Google Maps API-->
        <div>
    </div>
</section>