<div class="item active banner-sites wrapper">
    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
     <div class="fundorit">

         <div class="grid_6">

             <div class="texto_rit">
                 O Rit2gether é a plataforma de caronas compartilhadas para eventos que ajudará você a economizar dinheiro, fazer amigos e retornar para casa naqueles momentos em que não há mais transporte disponível.
             </div>

         </div>

         <div class="grid_6">

            <ul class="rit_people">

                <li class="rit_1"><img src="images/cartoons/xavier_final.png"></li>
                <li class="rit_2"><img src="images/cartoons/savio.PNG"></li>
                <li class="rit_3"><img src="images/cartoons/du_final.PNG"></li>
                <li class="rit_4"><img src="images/cartoons/aleatorio_1.png"></li>
                <li class="rit_5"><img src="images/cartoons/aleatorio_2.png"></li>


            </ul>

         </div>
     </div>
</div>