<div class="item  b_chamados">
    <div class="content">
        <div class="col-md-12 ">
            <div class="col-md-6 text">
                Imagine atender os chamados de seus clientes através de um simples QRCODE. Temos a solução IDEAL para o seu Negócio.
                <div class="col-md-12 link">
                    <a href="?acao=interna_chamados" class="btn-lg  btn-success btn-banner">Saiba Mais</a>
                </div>
            </div>

        </div>
    </div>
</div>

