<div class="item  b_mktplace">
    <div class="content">
        <div class="col-md-12 ">
            <div class="col-md-12 text">
                A solução para  gerencias todos os seus projetos ? Nós temos
            </div>
            <div class="col-md-12 link">
                <a class="btn-lg  btn-success btn-banner">Saiba Mais</a>
            </div>
        </div>
    </div>

</div>