<div class="item active b_mobile">
    <div class="content">
        <div class="col-md-12 ">
            <div class="col-md-6 text">
                Já imaginou ter sua solução na palma da mão? A Corvos pode ajudar a desenvolver sua Aplicação Mobile.
                <div class="col-md-12 link">
                    <a href="?acao=interna_mobile" class="btn-lg  btn-success btn-banner">Saiba Mais</a>
                </div>
            </div>

        </div>
    </div>

</div>