<div class="item  b_projetos">
    <div class="content">
        <div class="col-md-12 ">
            <div class="col-md-12 text">
                A Solução para Gerenciar todos os seus projetos está aqui!
            </div>
            <div class="col-md-12 link">
                <a href="?acao=interna_projetos" class="btn-lg  btn-success btn-banner">Saiba Mais</a>
            </div>
        </div>
    </div>

</div>